<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <h4 class="card-header">Login</h4>
      <div class="card-body  align-items-center">
        <form [formGroup]="loginForm">

          <div class="row px-3 form-group input">
            <label for="username" class="mb-1">Username:</label>
            <input type="text" formControlName="username" id="username" class="form-control" placeholder="Inserisci il tuo username o la tua email"   [ngClass]="{ 'is-invalid': submitted && loginForm.controls.username.errors}" />
            <div *ngIf="submitted && loginForm.controls.username.errors" class="invalid-feedback">
              <div  *ngIf="loginForm.controls.username.errors.required">
                Username o email obbligatori.
              </div>

            </div>
          </div>

          <div class="row px-3 form-group input">
            <label for="password" class="mb-1">Password: </label>
            <input type="password" formControlName="password" id="password" class="form-control" placeholder="Inserisci la tua password" [ngClass]="{ 'is-invalid': submitted && loginForm.controls.password.errors}" />
            <div *ngIf="submitted && loginForm.controls.password.errors" class="invalid-feedback">
              <div *ngIf="loginForm.controls.password.errors.required" >
                La password è obbligatoria.
              </div>
            </div>

            <div *ngIf = "wrongCredentials" class="alert-danger" style="margin-top: 10px; margin-bottom: 10px;">
              Credenziali errate
            </div>
            <div class="row px-3 mb-4">
              <a href="recover_password" class=" small ml-auto mb-0 text-sm">Hai dimenticato la password?</a>
            </div>
          </div>

          <div class="form-group input">
            <div class="row mx-sm-5">
              <button (click)="loginPressed()" type="submit"  class="btn btn-primary spacingButton" >
                Accedi
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
