<div class="row justify-content-center mx-auto ">
  <div class="col-md-12">

    <div *ngIf = "loggedIn == 'True' && admin == 'true'">
      <div *ngIf = "created" class="alert alert-success" style="margin-top: 10px; margin-bottom: 10px;">
        Porta creata!
      </div>
      <div *ngIf = "error" class="alert alert-danger" style="margin-top: 10px; margin-bottom: 10px;">
        Dati non validi!
      </div>
      <div class="card">
        <h4 class="card-header">Registra una porta</h4>
        <div class="card-body  align-items-center" >

          <form [formGroup]="registerDoor" (ngSubmit)="create()">
            <div class="form-group  mx-sm-3 input">
              <label for="name">Nome</label>
              <input type="text" formControlName="name" class="form-control" [ngClass]="{'is-invalid': submitted && registerDoor.controls.name.errors }" />
              <div *ngIf="submitted && registerDoor.controls.name.errors" class="invalid-feedback">
                <div *ngIf="registerDoor.controls.name.errors.required">
                  Il nome è obbligatorio.
                </div>
              </div>
            </div>

            <div class="form-group  mx-sm-3 input">
              <label for="aws_thing_name">Nome Aws thing</label>
              <input type="text" formControlName="aws_thing_name" class="form-control" [ngClass]="{'is-invalid': submitted && registerDoor.controls.aws_thing_name.errors }" />
              <div *ngIf="submitted && registerDoor.controls.aws_thing_name.errors" class="invalid-feedback">
                <div *ngIf="registerDoor.controls.aws_thing_name.errors.required">
                  Il nome della Aws thing è obbligatorio.
                </div>
              </div>
            </div>

            <div class="form-group  mx-sm-3 input">
              <label for="description">Descrizione</label>
              <textarea formControlName="description" class="form-control" [ngClass]="{'is-invalid': submitted && registerDoor.controls.description.errors }" ></textarea>
              <div *ngIf="submitted && registerDoor.controls.description.errors" class="invalid-feedback">
                <div *ngIf="registerDoor.controls.description.errors.required">
                  La descrizione è obbligatoria.
                </div>
              </div>

            </div>

            <div class = "align-content-center ">
              <div class="form-group mx-sm-3">
                <button class="btn btn-primary spacingButton" style="background-color: #3b5998;">
                  Registra
                </button>
                <a role="button" href="/manage_doors" class="btn btn-link">Indietro</a>
              </div>
            </div>

          </form>

        </div>
      </div>
    </div>

    <div *ngIf="!loggedIn ||  loggedIn == 'False' || admin =='false' || !admin">
      <h3>Non puoi accedere a questa pagina!</h3>
    </div>

  </div>
</div>
