
<div class="row justify-content-center mx-auto ">
  <div class="col-md-12">

    <div *ngIf = "loggedIn == 'True' && admin == 'true'">
      <div class="card">
      <!--<h4 class="card-header">Gestione utenti</h4> -->
        <div class="container-fluid">
          <nav style="margin-top: 20px">

              <div class="form-inline">
                <form class="d-inline-block col-md-5 button" >
                  <input #searchV type="text"  placeholder="Ricerca utenti..."  name="searchUserBar" id="searchUserBar" >
                  <button class="btn btn-default" (click)="search(searchV.value)" type="submit"><i class="fa fa-search"></i></button>
                </form>
                <div class="d-inline-block" style=" float: right;">
                  <a  class="btn btn-outline-primary button"  href="/authorization" role="button">Gestione permessi</a>
                  <a  class="btn btn-outline-primary button"  href="/manage_doors" role="button">Gestione porte</a>
                  <a  class="btn btn-outline-primary button"  href="/manage_users" role="button">Gestione utenti</a>
                </div>
              </div>

          </nav>
        </div>

        <div class="container-fluid">
          <div class="card" style="margin-bottom: 20px">
            <h3 class="card-header">Utenti</h3>
            <div class="panel-body ">
              <ul class="list-group">
                <div class="col align-self-center col-md-11" *ngFor="let user of users">
                  <li class="list-group-item">
                    {{user.name}} {{user.surname}}
                    <i *ngIf="user.admin" class="text-danger">(admin)</i>
                    <div class="d-flex flex-row-reverse">
                      <button
                        type="button"
                        class="btn btn-outline-dark btn-rounded"
                        data-mdb-ripple-color="dark"
                        (click)="open(content,user)" [disabled]="user.admin" >
                        <i class="fa fa-trash-o"></i>
                      </button>

                      <button
                        type="button"
                        class="btn btn-outline-dark btn-rounded"
                        data-mdb-ripple-color="dark"
                        (click)="modifyUser(user)" >
                        <i class="fa fa-pencil"></i>
                      </button>

                    </div>
                  </li>
                </div>
              </ul>

              <a
                class="btn btn-primary rounded-circle"
                href="/registration"
                data-mdb-ripple-color="dark"
                style="margin-left: 10px;margin-bottom: 10px"
                role="button">
                <i class="fa fa-plus"></i>
              </a>

            </div>
          </div>
        </div>

      </div>
    </div>

    <div *ngIf="!loggedIn ||  loggedIn == 'False' || admin =='false' || !admin">
      <h3>Non puoi accedere a questa pagina!</h3>
    </div>

  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Eliminazione</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Sei sicuro di voler eliminare questo utente?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Indietro</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('yes')">Conferma</button>
  </div>
</ng-template>
