<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <h4 class="card-header">Recupera password</h4>
      <div class="card-body  align-items-center">
        <form [formGroup]="recoverPasswordFrom">

          <div class="row px-3 form-group input">
            <label for="username" class="mb-1">Username:</label>
            <input type="text" formControlName="username" class="form-control" placeholder="Inserisci il tuo username" [ngClass]="{'is-invalid': submittedPinRequest && recoverPasswordFrom.controls.username.errors}"/>
            <div *ngIf="submittedPinRequest && recoverPasswordFrom.controls.username.errors" class="invalid-feedback">
              <div  *ngIf="recoverPasswordFrom.controls.username.errors.required">
                Username è obbligatorio!
              </div>

            </div>
          </div>

          <div *ngIf="submittedPinRequest && !recoverPasswordFrom.controls.username.errors" class="row px-3 form-group input">
            <label for="pin" class="mb-1">Pin:</label>
            <input #pinText type="password" pattern="[0-9]{5}" maxlength="5" formControlName="pin" class="form-control" placeholder="Inserisci il PIN" (input)="pinText.value=pinText.value.substr(0, 5)" [ngClass]="{ 'is-invalid': submittedPinRequest && recoverPasswordFrom.controls.pin.errors}" />
            <p *ngIf="!submittedPin" class="bg-warning">Ti abbiamo inviato un codice di 5 cifre. Controlla Telegram.</p>

            <div *ngIf="submittedPin && recoverPasswordFrom.controls.pin.errors" class="invalid-feedback">
              <div  *ngIf="recoverPasswordFrom.controls.pin.errors.required">
                Il PIN è obbligatorio!
              </div>
              <div  *ngIf="!recoverPasswordFrom.controls.pin.errors.required">
                Devi inserire un numero! Devi inserire 5 cifre.
              </div>

            </div>
          </div>

          <div class="form-group input">
            <div class="row mx-sm-5">
              <button (click)="submitPinReqPressed()" type="submit" class="btn btn-primary spacingButton" >
                Invia
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
