<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <h4 class="card-header">Recupera password</h4>
      <div class="card-body  align-items-center">
        <form [formGroup]="recoverPasswordFrom">

          <div class="row px-3 form-group input">
            <label for="email" class="mb-1">Email:</label>
            <input id= "email" type="text" formControlName="email" class="form-control" placeholder="Inserisci la tua email" [ngClass]="{'is-invalid': submittedPinRequest && recoverPasswordFrom.controls.email.errors}"/>
            <div *ngIf="submittedPinRequest && recoverPasswordFrom.controls.email.errors" class="invalid-feedback">
              <div  *ngIf="recoverPasswordFrom.controls.email.errors.required">
                L'email è obbligatoria!
              </div>
              <div  *ngIf="recoverPasswordFrom.controls.email.errors.email">
                Il valore inserito deve essere un'email!
              </div>
            </div>
            <div  *ngIf="errorMsg !== '' && !submittedPinRequestSuccess" class="bg-danger" style="color:blanchedalmond">
              <div>
                {{errorMsg}}
              </div>
            </div>
          </div>

          <div *ngIf="!submittedPinRequestSuccess" class="form-group input">
            <div class="row mx-sm-5">
              <button (click)="submitPinReqPressed()" type="submit" class="btn btn-primary spacingButton" >
                Invia
              </button>
            </div>
          </div>

          <div *ngIf="submittedPinRequestSuccess" class="row px-3 form-group input">
            <label for="pin" class="mb-1">Pin:</label>
            <input id="pin" #pinText type="password" pattern="[0-9]{5}" maxlength="5" formControlName="pin" class="form-control" placeholder="Inserisci il PIN" (input)="pinText.value=pinText.value.substr(0, 5)" [ngClass]="{ 'is-invalid': submittedPinRequest && recoverPasswordFrom.controls.pin.errors}" />
            <p *ngIf="!submittedPin" class="bg-warning">Ti abbiamo inviato un codice di 5 cifre. Controlla Telegram.</p>

            <div *ngIf="submittedPin && recoverPasswordFrom.controls.pin.errors" class="invalid-feedback">
              <div  *ngIf="recoverPasswordFrom.controls.pin.errors.required">
                Il PIN è obbligatorio!
              </div>
              <div  *ngIf="!recoverPasswordFrom.controls.pin.errors.required">
                Devi inserire un numero! Devi inserire 5 cifre.
              </div>
            </div>
            <div  *ngIf="errorMsg !== '' && submittedPin" class="bg-danger" style="color:blanchedalmond">
              <div>
                {{errorMsg}} Sarai reindirizzato alla pagina di login. Dovrai ripetere la procedura da capo.
              </div>
            </div>
            <div  *ngIf="errorMsg === '' && submittedPin" class="bg-success" style="color:blanchedalmond">
              <div>
                Pin corretto! Ti abbiamo inviato la nuova password. Controlla telegram. Sarai reindirizzato alla pagina di login.
              </div>
            </div>

            <div class="form-group input">
              <div class="row mx-sm-5">
                <button type="submit" (click)="submitPinPressed()" class="btn btn-primary spacingButton" >
                  Invia
                </button>
              </div>
            </div>

          </div>

        </form>
      </div>
    </div>
  </div>
</div>
