<nav class="colorApp navbar navbar-expand-lg navbar-light pos " >
  <div class="container-fluid">
    <div>
      <a class="navbar-brand" (click)="home()" type="submit" >
        <i class="fa fa-home fa-2x" aria-hidden="true"></i>
      </a>
    </div>

    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="justify-content-end navbar-collapse collapse" id="navbar">
      <ul class="navbar-nav">


        <div  *ngIf="this.loggedIn" class="container-fluid d-inline-flex">

          <li class="nav-item dropdown" >

          <a class="nav-link dropdown-toggle" style="margin-right: 25px;margin-top: 2px" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-user-circle fa-2x" >

            </i>
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item"  (click)="modify()" type="submit">
                Modifica
              </a>
            </li>
            <li>
              <a class="dropdown-item" (click)="logout()" type="submit">
                Logout
              </a>
            </li>
          </ul>

        </li>
        </div>

      </ul>
    </div>

  </div>
</nav>
