<nav class="colorApp navbar navbar-expand-lg navbar-light pos " >
  <div class="container-fluid">

    <a class="navbar-brand" role="button" (click)="name()">
      Navbar
    </a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="justify-content-end navbar-collapse collapse" id="navbar">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link active" routerLink="./dashboard">
            Home
          </a>
        </li>

        <div  *ngIf="!this.loggedIn">
          <li class="nav-item">
            <a class="nav-link active" routerLink="../login">

            </a>
          </li>
        </div>

        <div  *ngIf="this.isAdmin">
          <li class="nav-item">
            <a class="nav-link active"  routerLink="../registration">Register</a>
          </li>
        </div>

        <div  *ngIf="this.loggedIn">
          <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-user-circle"></i>
            Profile
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item"  (click)="modify()" type="submit">
                Modify
              </a>
            </li>
            <li>
              <a class="dropdown-item" (click)="logout()" type="submit">
                Logout
              </a>
            </li>
          </ul>

        </li>
        </div>

      </ul>
    </div>

  </div>
</nav>
