<div class="row justify-content-center">
  <div class="col-md-8">

    <div *ngIf = "loggedIn == 'True' && currentUser == id">
      <div *ngIf = "modified" class="alert alert-success" style="margin-top: 10px; margin-bottom: 10px;">
        Password correctly updated!
      </div>
      <div *ngIf = "wrongPassword" class="alert alert-danger" style="margin-top: 10px; margin-bottom: 10px;">
        Wrong password!
      </div>
      <div *ngIf = "mismatch" class="alert alert-danger" style="margin-top: 10px; margin-bottom: 10px;">
        Error in choosing a new password!
      </div>
      <div class="card">
        <h4 class="card-header">Change password:</h4>
        <div class="card-body  align-items-center">
          <form [formGroup]="changePassword"  >

            <div class="row px-3 form-group input">
              <label for="oldPassword" class="mb-1">
                Old password:
              </label>
              <input type="text" formControlName="oldPassword" class="form-control" placeholder="Old password"  [ngClass]="{ 'is-invalid': submitted && changePassword.controls.oldPassword.errors}" />
              <div *ngIf="submitted && changePassword.controls.oldPassword.errors" class="invalid-feedback">
                <div  *ngIf="changePassword.controls.oldPassword.errors.required">
                  The old password is required
                </div>
              </div>
            </div>

            <div class="row px-3 form-group input">
              <label for="password" class="mb-1">Password: </label>
              <input type="password" formControlName="password" class="form-control" placeholder="Choose a new password" [ngClass]="{ 'is-invalid': submitted && changePassword.controls.password.errors}" />

              <div *ngIf="submitted && changePassword.controls.password.errors" class="invalid-feedback">
                <div *ngIf="changePassword.controls.password.errors.required" >
                  Password is required
                </div>
              </div>

            </div>

            <div class="row px-3 form-group input">

              <label for="confirmation" class="mb-1">Confirm your password: </label>
              <input type="confirmation" formControlName="confirmation" class="form-control" placeholder="Confirm the new password" [ngClass]="{ 'is-invalid': submitted && changePassword.controls.confirmation.errors}" />
              <div *ngIf="submitted && changePassword.controls.confirmation.errors" class="invalid-feedback">
                <div *ngIf="changePassword.controls.confirmation.errors.required" >
                  The confirmation is required
                </div>
              </div>

            </div>
            <!--     <div  *ngIf="notMatch" class="invalid-feedback show">
              New password and confirmation don't match!
            </div>
            <div  *ngIf="wrongPassword" class="invalid-feedback show ">
              Old password wrong!
            </div> -->

            <div class="form-group mx-sm-3 input">
              <div class="d-inline-block">
                <button (click)="save()" type="submit" class="btn btn-primary spacingButton" >
                  Save changes
                </button>
                <a role="button" (click)="cancel()" class="btn btn-link ">Cancel</a>

              </div>
            </div>

          </form>
        </div>
      </div>
    </div>

    <div *ngIf="!loggedIn || loggedIn == 'False' || currentUser != id">
      <h3>Can't open this page!</h3>
    </div>

  </div>
</div>
