<div class="row justify-content-center mx-auto ">
  <div class="row-cols-md-12">

    <div *ngIf = "loggedIn=='True'">
      <div class="card">
        <!--<h4 class="card-header">Gestione porte</h4> -->
        <div class="container-fluid">
          <nav class="navbar-light bg-light" style="margin-top: 20px">
            <div>
              <div class="form-inline ">
                <form class="d-inline-block col-md-5 button" >
                  <input  #searchV  type="text"  placeholder="Search" name="q">
                  <button class="btn btn-default" (click)="search_door(searchV.value)" (change)="search_value = searchV.value" type="submit"><i class="fa fa-search"></i></button>
                </form>
                <div class="d-inline-block" style=" float: right;" >
                  <a  class="btn btn-outline-primary button"  href="/authorization" role="button">Gestione permessi</a>
                  <a  class="btn btn-outline-primary button"  href="/manage_doors" role="button">Gestione porte</a>
                  <a  class="btn btn-outline-primary button"  href="/manage_users" role="button">Gestione utenti</a>
                </div>
              </div>
            </div>
          </nav>
        </div>

        <div class="container-fluid">
          <div class="card row-cols-md-12" style="margin-bottom: 20px">
            <h3 class="card-header">Porte</h3>
            <div class="panel-body">
              <ul class="list-group list-group-horizontal" style="margin: 20px;">
                <div class="card align-self-top col-sm-4" style="margin: 10px" *ngFor="let door of doors">

                  <li class="list-group-item">

                    <div>
                    <h5 class="col-md-6">{{door.name}}</h5>
                      <div class="row">
                        <i class="fa fa-circle col-md-6" style="color: green" *ngIf="door.online"> Online</i>
                        <i class="fa fa-circle col-md-6" style="color: red" *ngIf="!door.online"> Offline</i>

                        <i class="fa fa-circle col-lg-6" style="color: red" *ngIf="door.state == 0"> Locked</i>
                        <i class="fa fa-circle col-lg-6" style="color: red" *ngIf="door.state == 1"> Failed access</i>
                        <i class="fa fa-circle col-lg-6" style="color: green" *ngIf="door.state == 2"> Successful access</i>
                        <i class="fa fa-circle col-lg-6" style="color: orange" *ngIf="door.state == 3"> Waiting</i>
                      </div>
                    </div>
                    <hr>

                    <div class="scroll">
                        <dl class="row" *ngFor="let acc of access[door._id]; let i=index;">
                          <dt class="col-sm-6">{{acc.username}}</dt>
                          <dd class="col-sm-6">Date: {{acc.date}}<br>Time: {{acc.time}}</dd>
                        </dl>

                    </div>
                  </li>

                </div>

              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div *ngIf="loggedIn=='False'">
      <h3>Can't open this page!</h3>
    </div>

  </div>
</div>
