<div class="row justify-content-end">

  <div class="col-md-6">
    search bar
  </div>

  <div class="col-md-2">
  <a href="/assignment" class=" small ml-auto mb-0 text-sm">Manage authorizations</a>
  </div>

  <div class="col-md-2">
  <a href="/assignment" class=" small ml-auto mb-0 text-sm">Manage users</a>
  </div>

  <div class="col-md-2">
  <a href="/assignment" class=" small ml-auto mb-0 text-sm">Manage doors</a>
  </div>

</div>
<div class="row justify-content-evenly h-100">

  <div class="col-md-2">

    <div class="card">

      <h4 class="card-header">Select door</h4>
      <div class="card-body">

        <select class="form-select" [(ngModel)]="selected" (change)="loadAuth(selected)">

          <option *ngFor="let door of doors" [value]="door" [selected]="door == selected">{{door}}</option>

        </select>

        {{data}}

      </div>

    </div>

  </div>
  <div class="col-md-10">

    <div class="row">
      <div class="col-md-6">
        <div class="card">

          <div class="card-header">

            <h4>Authorized</h4>
            <input class="search_input" type="text" name="" placeholder="Search..." [(ngModel)]="authorized_filter" (change)=filterAuthorized(authorized_filter)>

          </div>
          <div class="card-body">

            <dl class="row" *ngFor="let user of authorized">
              <dt class="col-sm-11">{{user}}</dt>
              <dd class="col-sm-1" (click)="removeAuth(user)"><i class="fa fa-minus"></i></dd>
            </dl>

          </div>

        </div>
      </div>
      <div class="col-md-6">
        <div class="card">

          <div class="card-header">

            <h4>Unauthorized</h4>
            <input class="search_input" type="text" name="" placeholder="Search..." [(ngModel)]="unauthorized_filter" (change)=filterUnauthorized(unauthorized_filter)>

          </div>
          <div class="card-body">

            <dl class="row" *ngFor="let user of not_authorized">
                <dt class="col-sm-11">{{user}}</dt>
                <dd class="col-sm-1" (click)="addAuth(user)"><i class="fa fa-plus"></i></dd>
            </dl>

          </div>

        </div>
      </div>
    </div>

  </div>

</div>
