<div class="row justify-content-center mx-auto ">
  <div class="col-md-12">

    <div *ngIf = "loggedIn == 'True' && admin == 'true'">
      <div class="card">
        <div class="container-fluid">
          <nav  style="margin-top: 20px">
            <div class="form-inline">
              <div>

              </div>
              <div class="d-inline-block " style=" float: right;" >
                <a  class="btn btn-outline-primary button" href="/authorization" role="button">Gestione permessi</a>
                <a  class="btn btn-outline-primary button" href="/manage_doors" role="button">Gestione porte</a>
                <a  class="btn btn-outline-primary button"  href="/manage_users" role="button">Gestione utenti</a>
              </div>

            </div>
          </nav>

        </div>
        <div class="row h-100" style="margin: 20px">

          <div class="col-md-3">

            <div class="card" style="margin-bottom: 20px">

              <h4 class="card-header">Select door</h4>
              <div class="card-body bootstrap-select-wrapper">

                <select class="form-select" [(ngModel)]="selected" (change)="loadAuth(selected)">

                  <option *ngFor="let door of doors" [value]="door._id" [selected]="door._id == selected" >{{door.name}}</option>

                </select>

              </div>

            </div>

          </div>

          <div class="col-md-9">

            <div class="row" style="margin-bottom: 20px">
              <div class="col-md-6">
                <div class="card">

                  <div class="card-header form-inline justify-content-evenly ">

                    <h4 class="col-md-6  d-inline-block" >Authorized</h4>
                    <form class="col-md-6 d-inline-block " style="float: right" (change)="filterAuthorized(searchAuthorized.value)">
                      <input  #searchAuthorized  type="text" size="10" placeholder="Search users...">
                      <button class="btn btn-default" (click)="filterAuthorized(searchAuthorized.value)" type="submit"><i class="fa fa-search"></i></button>
                    </form>

                  </div>
                  <div class="card-body">

                    <dl class="row" *ngFor="let user of authorized; let i=index;">
                      <dt class="col-sm-11">{{user.name + " " + user.surname}}</dt>
                      <dd class="col-sm-1"><i class="fa fa-minus" (click)="removeAuth(selected, user._id, i)"></i></dd>
                    </dl>

                  </div>

                </div>

              </div>
              <div class="col-md-6">
                <div class="card" style="margin-bottom: 20px">

                  <div class="card-header">

                    <h4 class="col-md-6 d-inline-block">Unauthorized</h4>
                    <form class="col-md-6 d-inline-block " style="float: right"  (change)="filterUnauthorized(searchUnauthorized.value)">
                      <input  #searchUnauthorized  type="text" size="10" placeholder="Search users..." class="d-inline-block">
                      <button class="btn btn-default d-inline-block" (click)="filterUnauthorized(searchUnauthorized.value)" type="submit"><i class="fa fa-search"></i></button>
                    </form>
                  </div>
                  <div class="card-body">

                    <dl class="row" *ngFor="let user of not_authorized; let i=index;">

                        <dt class="col-sm-11">{{user.name + " " + user.surname}}</dt>
                        <dd class="col-sm-1"><i class="fa fa-plus" (click)="addAuth(selected, user._id, i)"></i></dd>

                    </dl>

                  </div>

                </div>
                <div *ngIf="unable" class="alert alert-danger">
                  Can't authorize! User still needs to perform the first access procedure.
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>
    </div>

    <div *ngIf="!loggedIn ||  loggedIn == 'False' || admin =='false' || !admin">
      <h3>Can't open this page! Permission denied.</h3>
    </div>

  </div>
</div>
